absl-py==0.12.0
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1623682242266/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1596181673569/work
bleach==3.3.0
blinker==1.4
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1649828355047/work
boltons==21.0.0
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1648028896657/work
brotlipy==0.7.0
cachetools==4.2.1
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1613413867554/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1649184113124/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1642883757836/work
coverage @ file:///home/conda/feedstock_root/build_artifacts/coverage_1614551279242/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851478755/work
cycler==0.10.0
Cython @ file:///home/conda/feedstock_root/build_artifacts/cython_1626221477248/work
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1644602974678/work
decorator==4.4.2
defusedxml==0.7.1
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1644612617784/work
docopt==0.6.2
entrypoints==0.3
ephem @ file:///home/conda/feedstock_root/build_artifacts/ephem_1623723023517/work
fbprophet @ file:///home/conda/feedstock_root/build_artifacts/fbprophet_1599365534439/work
flatbuffers==1.12
flit-core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
freezegun @ file:///home/conda/feedstock_root/build_artifacts/freezegun_1647603287091/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1648820545323/work
future==0.18.2
gast==0.3.3
gitdb==4.0.7
GitPython==3.1.18
google-auth==1.29.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
hcrystalball @ file:///home/conda/feedstock_root/build_artifacts/hcrystalball_1648486704229/work
HeapDict==1.0.1
hijri-converter @ file:///home/conda/feedstock_root/build_artifacts/hijri-converter_1644680066407/work
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1644933126202/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
importlib-metadata==4.0.1
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1605455367082/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598883837425/work
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1635824010850/work
Jinja2==3.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1612898609989/work
jplephem @ file:///home/conda/feedstock_root/build_artifacts/jplephem_1640954253146/work
jsonpickle==1.5.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console==6.4.0
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1605127874166/work
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Preprocessing==1.1.2
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1610099773791/work
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
llvmlite==0.36.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
LunarCalendar==0.0.9
lunardate==0.2.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1621455667184/work
matplotlib==3.3.4
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1610121710380/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1610319002430/work
munch==2.5.0
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1649013329265/work
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numba==0.53.0
numexpr @ file:///home/conda/feedstock_root/build_artifacts/numexpr_1614971364998/work
numpy==1.19.5
oauthlib==3.1.0
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.3
pandocfilters==1.4.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1602797449524/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
pathspec==0.7.0
patsy==0.5.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///tmp/build/80754af9/pillow_1602788700959/work
plotly==4.14.3
pmdarima @ file:///tmp/build/80754af9/pmdarima_1650031626653/work
prometheus-client==0.11.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1605053337398/work
protobuf==3.15.8
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127094245/work
ptyprocess==0.6.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1619620644068/work
pyluach @ file:///home/conda/feedstock_root/build_artifacts/pyluach_1648234060664/work
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1615809745702/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyrsistent==0.17.3
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1648857264451/work
pystan==2.17.1.0
python-dateutil==2.8.1
pytorch-ignite==0.4.5
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyYAML==5.4.1
pyzmq==19.0.2
qtconsole==5.1.0
QtPy==1.9.0
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1616104405652/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
retrying==1.3.3
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
sacred==0.8.1
scikit-learn==0.24.1
scikit-posthocs @ file:///home/conda/feedstock_root/build_artifacts/scikit-posthocs_1615842801774/work
scipy==1.6.1
seaborn==0.11.1
Send2Trash==1.5.0
sgp4 @ file:///home/conda/feedstock_root/build_artifacts/sgp4_1625141939802/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn==0.0
sktime==0.3.1
skyfield @ file:///home/conda/feedstock_root/build_artifacts/skyfield_1639671885513/work
skyfield-data @ file:///home/conda/feedstock_root/build_artifacts/skyfield-data_1645144449169/work
smmap==4.0.0
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1612273600586/work
stumpy @ file:///home/conda/feedstock_root/build_artifacts/stumpy_1640371345036/work
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1608153789284/work
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.10.0
testpath==0.5.0
threadpoolctl==2.1.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
torch==1.6.0
torchaudio==0.6.0
torchdiffeq==0.0.1
torchsde==0.2.5
torchsummary==1.5.1
torchvision==0.3.0
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094704591/work
tqdm==4.42.1
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
trampoline==0.1.2
tsfresh @ file:///home/conda/feedstock_root/build_artifacts/tsfresh_1599727497869/work
typed-ast @ file:///home/conda/feedstock_root/build_artifacts/typed-ast_1609539248798/work
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
workalendar @ file:///home/conda/feedstock_root/build_artifacts/workalendar_1645578820521/work
wrapt==1.12.1
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1625232903960/work
zict @ file:///home/conda/feedstock_root/build_artifacts/zict_1651156074437/work
zipp==3.4.1
